body {
	color : #45a2a1;
	background-color: '#fcfefe';
	font-family: Arial;
	font-size: 11pt;
	line-height: 1.2em;
	padding: 40px;
}
a {
	color : #45a2a1;
}
a:hover {
	color : #666;
}
td {
	padding : 5px;
	padding-right:20px;
}
video {
	width: 640px;
}
