input[type=email] {
	width: 80%;
	color: #4D4D4F;
	font-family: roboto;
	font-size: 16px;
	height: 40px;
}

.ssHolder {
	width: 240px;
	text-align: center;
	font: 14px "oswald", Helvetica, Arial, sans-serif;
	margin: 0px auto;
}

#ssErrorHolder {
	padding: 10px;
	color: red;
}

#pinDots {
	margin: 20px auto;
	width: 70%
}

.pinDotHolder {
	width: 25%;
	display: inline-block;
}

.pinDot {
	margin: 0 auto;
	width: 12px;
	height: 12px;
	border: 1px solid #348D8C;
	border-radius: 50%;
}

.active {
	background-color: #348D8C;
}

.ssPinButtonHolder {
	width: 33.3%;
	display: inline-block;
}

.ssPinButton {
	margin: 0px auto 20px;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	border: 1px solid #348D8C;
	background-color: white;
	color: #348D8C;
	font-family: oswald;
}

.ssNumberButton {
	font-size: 18pt;
}

.ssNextButton {
	background-color: #F6B731;
	height: 55px;
	width: 80%;
	font-family: oswald;
	font-size: 18pt;
	color: white;
}
